<%= form_for(@translationpost) do |f| %>
  <% if @translationpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translationpost.errors.count, "error") %> prohibited this translationpost from being saved:</h2>

      <ul>
      <% @translationpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
