<h1>Listing translationposts</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translationposts.each do |translationpost| %>
  <tr>
    <td><%= translationpost.text %></td>
    <td><%= translationpost.user_id %></td>
    <td><%= link_to 'Show', translationpost %></td>
    <td><%= link_to 'Edit', edit_translationpost_path(translationpost) %></td>
    <td><%= link_to 'Destroy', translationpost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translationpost', new_translationpost_path %>
